@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}
/* Custom Animations */
@keyframes fade-in-up {
        from {
        opacity: 0;
        transform: translateY(20px);
        }
        to {
        opacity: 1;
        transform: translateY(0);
        }
    }
    
    @keyframes fade-in-right {
        from {
        opacity: 0;
        transform: translateX(-20px);
        }
        to {
        opacity: 1;
        transform: translateX(0);
        }
    }
    
    .animate-fade-in-up {
        animation: fade-in-up 1s ease-out forwards;
    }
    
    .animate-fade-in-right {
        animation: fade-in-right 1s ease-out forwards;
    }
    
    .animation-delay-1 {
        animation-delay: 0.5s;
    }
    
    .animation-delay-2 {
        animation-delay: 1s;
    }
    